<h1>Success stories from our Volunteers </h1>

<p style="text-align: right;font-weight:bold;font-style:italic;font-size:1.5em;color:blue" >
  <% if signed_in? %>
      <%= link_to "My success stories", :controller => :users, :action => :show, :id => current_user.id %>
  <% end %>
</p>


<div id="storiessearch"><%= render 'storiessearch' %></div>
<div id="userstories"><%= render 'userstories' %></div>

