<%= will_paginate @stories, :page_links => false%>
<div class="span8">
  <% if current_user.stories.any? %>
      <h3>My success stories (<%= current_user.stories.count %>)</h3>
      <ol class="stories">
        <%= render @stories %>
      </ol>
      <%= will_paginate @stories, :page_links => false%>
  <% end %>
</div>
