<% provide(:title, @user.name) %>

<div class="span8">
  <% if @user.stories.any? %>
      <h3>My success stories (<%= @user.stories.count %>)</h3>
      <ol class="stories">
        <%= render @stories %>
      </ol>
      <%= will_paginate @stories %>
  <% end %>
</div>