<!--<% provide(:title, @user.name) %> -->

<div class="span8">
      <h3>My success stories </h3>
      <ol class="stories">
        <%= render @story %>
      </ol>
      <%= will_paginate @story %>
  <% end %>
</div>